@use '../../../styles/mixins' as *;
@use "../../../styles/variables" as *;

.gifsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-base;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gifsContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-lg;
}

@media (min-width: $bp-tablet) {
    .gifsContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: $gap-md;
    }    
}

@media (min-width: $bp-desktop) {
    .gifsContainer {
        grid-template-columns: repeat(4, 1fr);
        gap: $gap-lg;
    }    
}

@media (min-width: $bp-large) {
    .gifsContainer {
        grid-template-columns: repeat(5, 1fr);
        gap: $gap-xl;
    }    
}

.gitCard {
    @include flex-colum-center;
    justify-content: center;
    margin-bottom: 50px; 
}